---
title: "Life in Syracuse"
layout: splash
permalink: /lifesu/
author_profile: true
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /images/resized.jpg
feature_row0:
  - image_path: /images/ischool.jpg
    alt: "Campus"
    title: "Food Guide"
    excerpt: 'Restraunts you should visit in Syracuse'
    url: /foodguide/
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row0" type="left" %}
