---
title: "Welcome New Students"
layout: splash
permalink: /newstudents2/
author_profile: true
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /images/resized.jpg
feature_row0:
  - image_path: /images/ischool.jpg
    alt: "Campus"
    title: "Luggage Guide"
    excerpt: 'What you might need for Syracuse'
    url: /luggageguide/
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row1:
  - image_path: /images/ibranch.jpg
    alt: "Campus"
    title: "Flight Guide"
    excerpt: 'How you arrive in Syracuse safely'
    url: /flightguide/
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row2:
  - image_path: /images/ischool.jpg
    alt: "Campus"
    title: "Mobile Guide"
    excerpt: 'We all need our second half in our life. i.e. our phones'
    url: /mobileguide/
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row3:
  - image_path: /images/ibranch.jpg
    alt: "Campus"
    title: "Housing Guide Part 1"
    excerpt: 'Where do you stay in Syracuse'
    url: /housingguide/
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row4:
  - image_path: /images/ischool.jpg
    alt: "Campus"
    title: "Housing Guide Part 2"
    excerpt: 'Where do you stay in Syracuse, part 2'
    url: /housingguide2/
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row5:
  - image_path: /images/ibranch.jpg
    alt: "Campus"
    title: "Health Insurance"
    excerpt: 'In case of an accident...'
    url: /healthinsurance/
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row6:
  - image_path: /images/ischool.jpg
    alt: "Campus"
    title: "Dental and Vision Plans"
    excerpt: 'In case of more accidents....'
    url: /dentalvision/
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row7:
  - image_path: /images/logo.png
    alt: "iBranch"
    title: ""
    url: /about/
    btn_label: "About"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row0" type="left" %}

{% include feature_row id="feature_row1" type="right" %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="left" %}

{% include feature_row id="feature_row5" type="right" %}

{% include feature_row id="feature_row6" type="left" %}

{% include feature_row id="feature_row7" type="center" %}

